<ion-view class="hView" view-title="Congrats" hide-nav-bar="true">
  <ion-content>
    <ion-list>

		<p id="Jonathan" class="animated bounceInDown" style="font-size: 1.8em ;color:#ffffff;margin-top: 35px;" contenteditable>Jon<span style="color:#0ed6d6">A</span>than Borofsky: Human Structures
		</p>
		<div></div>

		<p id="Jeff" class="animated bounceInDown" style="font-size: 1.8em ;color:#ffffff;margin-top: 55px;" contenteditable>Jeff <span style="color:#0ed6d6">K</span>oons: Balloon Flower (Red)
		</p>

		<div></div>

		<p id="Pablo" class="animated bounceInDown" style="font-size: 1.8em ;color:#ffffff;margin-top: 55px;" contenteditable>Pablo Picasso: Bust of Syl<span style="color:#0ed6d6">V</span>ette
		</p>
		<div></div>

		<p id="Sheila" class="animated bounceInDown" style="font-size: 1.8em ;color:#ffffff;margin-top: 55px;" contenteditable>Sheila Hicks: Hop, Sk<span style="color:#0ed6d6">I</span>p, Jump, and Fly
		</p>
		<div></div>

		<p id="Sophie" class="animated bounceInDown" style="font-size: 1.8em ;color:#ffffff;margin-top: 55px;" contenteditable>Sophie Ca<span style="color:#0ed6d6">L</span>le: Here Lie The Secrets
		</p>

		<div></div>

		<p id="Isamu" class="animated bounceInDown" style="font-size: 1.8em ;color:#ffffff;margin-top: 55px;"  contenteditable>Isamu Noguchi: R<span style="color:#0ed6d6">E</span>d Cube
		</p>
		<div></div>

    </ion-list>
    <div><button class="button button-outline button-block button-light animated bounceInUp" ui-sref="home">Home</button></div>
  </ion-content>
</ion-view>