<ion-view class="homeView" view-title="Congrats" hide-nav-bar="true">
  <ion-content>
    <ion-list>

		<p id="Jonathan" class="animated bounceInDown" style="font-size: 1.8em ;color:white;margin-top: 35px;">Jonathan Borofsky: Human Structures
		</p>
		<div></div>

		<p id="Jeff" class="animated bounceInDown" style="font-size: 1.8em ;color:white;margin-top: 55px;">Jeff Koons: Balloon Flower (Red)
		</p>

		<div></div>

		<p id="Pablo" class="animated bounceInDown" style="font-size: 1.8em ;color:white;margin-top: 55px;">Pablo Picasso: Bust of Sylvette
		</p>
		<div></div>

		<p id="Sheila" class="animated bounceInDown" style="font-size: 1.8em ;color:white;margin-top: 55px;">Sheila Hicks: Hop, Skip, Jump, and Fly
		</p>
		<div></div>

		<p id="Sophie" class="animated bounceInDown" style="font-size: 1.8em ;color:white;margin-top: 55px;">Sophie Calle: Here Lie The Secrets
		</p>

		<div></div>

		<p id="Isamu" class="animated bounceInDown" style="font-size: 1.8em ;color:white;margin-top: 55px;">Isamu Noguchi: Red Cube
		</p>
		<div></div>

    </ion-list>
    <div><button class="button button-outline button-block button-light animated bounceInUp" ui-sref="home">Home</button></div>
  </ion-content>
</ion-view>