<div class="row row-center"><div class="col col-center text-center"><h1 class="animated bounceInDown">win</h1><button class="button button-outline button-block button-light animated bounceInUp" on-tap="showUsers()">View the list<div><span ><span ></span> <span ><span class><span ></span> <span></span> <span></span> </span><span ><span ></span> <span></span> </span><span></span> </span></span><span><span></span><ul><li></li><li></li><li></li><li></li><li></li></ul><ul><li></li><li></li></ul></span></div></div><button class="button button-outline button-block button-light animated bounceInUp" ui-sref="app.gallery">Enter</button></div></div></ion-content></ion-view>


<ion-view class="homeView" view-title="Congrats" hide-nav-bar="true">
  <ion-content>
    <ion-list>
      <div class="row row-wrap row-no-padding">

		<p id="Jonathan" class="animated bounceInDown">Jonathan Borofsky: Human Structures
		</p>

		<p id="Jeff" class="animated bounceInDown">Jeff Koons: Balloon Flower (Red)
		</p>

		<p id="Pablo" class="animated bounceInDown">Pablo Picasso: Bust of Sylvette
		</p>

		<p id="Sheila" class="animated bounceInDown">Sheila Hicks: Hop, Skip, Jump, and Fly
		</p>

		<p id="Sophie" class="animated bounceInDown">Sophie Calle: Here Lie The Secrets
		</p>

		<p id="Isamu" class="animated bounceInDown">Isamu Noguchi: Red Cube
		</p>

      </div>
    </ion-list>
    <div><button class="button button-outline button-block button-light animated bounceInUp" ui-sref="home">Home</button></div>
  </ion-content>
</ion-view>