<ion-view class="homeView"><ion-content><ion-list><div class="row row-wrap row-no-padding"><ion-item ng-repeat="item in items" class="col col-80 button button-icon light animated bounceInUp" ng-style="{ 'background-color' : item.color }" on-tap="openItem(item)"><i class="icon {{item.icon}}"></i><p class="bold">{{ item.title }}</p></ion-item></div></ion-list><ion-row>
  <ion-col align-self-start>col</ion-col>
  <ion-col align-self-center>col</ion-col>
  <ion-col align-self-end>col</ion-col>
</ion-row></ion-content></ion-view>