
<ion-view view-title="Gallery" class="homeView">
  <ion-content>
    <ion-list>
      <div class="row row-wrap row-no-padding">
		<button id="Jonathan" class="button button-outline button-block button-light animated bounceInUp" on-tap="myFunction1(); myFunction7();">Jonathan Borofsky: Human Structures
		</button>
		<button id="Jeff" class="button button-outline button-block button-light animated bounceInUp" on-tap="myFunction2(); myFunction7();">Jeff Koons: Balloon Flower (Red)
		</button>
		<button id="Pablo" class="button button-outline button-block button-light animated bounceInUp" on-tap="myFunction3(); myFunction7();">Pablo Picasso: Bust of Sylvette
		</button>
		<button id="Sheila" class="button button-outline button-block button-light animated bounceInUp" on-tap="myFunction4(); myFunction7();">Sheila Hicks: Hop, Skip, Jump, and Fly
		</button>
		<button id="Sophie" class="button button-outline button-block button-light animated bounceInUp" on-tap="myFunction5(); myFunction7();">Sophie Calle: Here Lie The Secrets
		</button>
		<button id="Isamu" class="button button-outline button-block button-light animated bounceInUp" on-tap="myFunction6(); myFunction7();">Isamu Noguchi: Red Cube
		</button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
